body {
	> .bar, > .content {
		overflow-x: hidden; overflow-y: scroll; 
		
		-webkit-transform:translationZ(0);
		/* Animations */
		-webkit-transition: left .5s linear, width .5s linear;
		
		.scroll { margin: 5px; }
	}
	
	> .bar { 
		position: absolute; left: 0; top: 0; bottom: 0; width: 270px; height: 100%;
	
		.logo {
			margin: 0px -5px 0 -5px; 
			text-align: center; 
			background: url('../images/logo_ch.png') no-repeat center center; 
			height: 94px;
			-webkit-app-region: drag; 
		}	
	}
	> .content { 
		position: absolute; right: 0; top: 0; bottom: 0; left: 270px; height: 100%; 
		background: #aaa;
	
		.scroll { padding-bottom: 100%; }
	}
	
	> .tools-wrapper {
		position: absolute;
		right: 0;
		width: 80px;
		top: 0;
		bottom: 0;
		z-index: 1000;
		
		&:hover .tools { display: block; }
		.tools {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			display: block;
			background: rgba(0,0,0,.7);
		}
	}
}

.template { display: none; }

.bar ul { 
	padding: 0; list-style: none; 
		
	li {
		background: rgba(250,250,250,.3);
		border-radius: 5px;
		margin-bottom: 5px;
		padding: 5px;
		position: relative;
		
		span.date { display: block; }
		&.active { margin-left: 10px; }
		&.active:before {
			content: "";
			height: 100%;
			top: 0;
			width: 5px;
			background: #fff;
			position: absolute;
			left: -10px;
		}
	}
}

.content > .scroll > ul { 
	padding: 0; list-style: none; margin: 0;
	
	> li {
		position: relative;
		margin-bottom: 5px;
		padding: 10px;
		background: #fff;
		border: 1px solid #999;
		border-radius: 3px;
		box-shadow: inner 0 0 2px #000;
		
		span.title { font-weight: bold; font-size: 150%; }
		span { font-weight: normal; font-size: 100%; }
		
		span:empty:before { display: none; }
		.date:before {	content: " - "; }
		.location:before {	content: " - "; }
		.costs:before {	content: " - "; }
		
		.body {
			position: relative;
			overflow: hidden;
		}
		
		.image-wrapper {
			float: right;
			padding: 0 0 0 15px;
			height: 100%;
			
			img.image { 
				max-height: 300px;
				max-width: 300px;
			}
		}
	}
}

.tools {
	ul { list-style: none; margin: 0; padding: 10px; }
	ul li { margin: 10px 0; padding: 0; }
	ul li a {
		display: block;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		content: "";
		text-indent: -9000px;
		background: no-repeat center;
	}
	ul li:hover {
		-webkit-transform: scale(1.05);
	}
	li.icon-power a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.power.png'); }
	li.icon-full.active a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.arrow.collapsed.png'); }
	li.icon-full a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.arrow.expand.png'); }
	li.icon-play a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.control.play.png'); }
	li.icon-play.active a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.control.pause.png'); }
	li.icon-up a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.chevron.up.png'); }
	li.icon-down a{ background-image: url('../lib/icons/metro/WindowsPhone/dark/appbar.chevron.down.png'); }
}

.content .full {
	z-index: 100;
	margin: 5px -15px 5px -15px;
	box-shadow: 0 0 5px #000;
}
.content img { max-width: 100%; display: block; }

.bar .qr {
	background-image: url(../images/calendar_qr.png);
	background-size: contain;
	width: 100%;
}
.clear { clear: both; }

body.full .bar { left: -270px; }
body.full .content { left: 0; }

/* Typography */
html, body { font-family: "Helvetica Neue"; font-size: 14pt; }
h2 { font-size: 18pt; }
.date { font-size: 80%; font-style: italic; }
.location { font-size: 80%; font-style: italic; }
.costs { font-size: 80%; font-style: italic; }

/* Color scheme */
.bar { color: #fff; background: black; }
.bar .date { color: #aaa; }