body, html { margin: 0; padding: 0; }

header li,
header button,
header input[type="text"] {
  top: 7px;
  line-height: 20pt;
  display: inline-block;
  font-size: 8.5pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
  min-width: 5.5em;
  position: relative;
  height: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 2.5pt;
  border: 1px solid transparent;
  text-align: center;
}

header {
	height: 40px;
	border-bottom: 2px solid gray;
}

header button,
header input[type="text"] {
  -webkit-app-region: no-drag;
}

header .small {
  min-width: 3em;
}

header li {
  border-radius: 2px;
  background: #e2e2e2;
  color: #222;
  min-width: 10.5em;
  padding: 0 5px;
}

header button {
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.0976563);
  background: transparent -webkit-linear-gradient(top, whiteSmoke, #f1f1f1);
  color: #444;
  cursor: pointer;
  min-width: 7em;
  float: right;
}

/* Size of screens control */
.plane {
	height: 300px;
	position: relative;
	border: 1px solid black;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	font-size: .8em;
}
.plane .tv, .plane .tv-template {
	position: absolute;
	border: 1px solid #666;
	overflow: hidden;
}
.plane .tv .drag { height: 10px; background: red; content: "Drag"; }
.plane .tv .resize { position: absolute; bottom: 0; right: 0; height: 20px; width: 20px; background: red; content: "Resize"; }
.plane input { width: 40px !important; display: inline-block; height: 14px; line-height: 14px; padding: 2px; margin-bottom: 0; }
.plane input[name='w'], .plane input[name='h'] { width: 50px !important; }

.plane .tv-template { position: absolute; top: 0; right: 0; }
.plane .tv-template content { display: none; }