[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/shiftingtiles"]
	path = lib/shiftingtiles
	url = https://github.com/hermanbanken/shiftingtiles.git
[submodule "lib/date.js"]
	path = lib/date.js
	url = https://github.com/datejs/Datejs.git
[submodule "lib/icons/metro"]
	path = lib/icons/metro
	url = https://github.com/Templarian/WindowsIcons.git
