<!DOCTYPE html>
<html ng-app="stream">
<head>
	<title>TV Systeem</title>
	<link rel="stylesheet" type="text/css" href="css/frame.css" />
	<link rel="stylesheet" type="text/css" href="css/remote.css" />
	<script src="lib/shiftingtiles/jquery-1.8.3.js"></script>
	<script src="lib/underscore-1.4.2/underscore-min.js"></script>
	<script src="components/angular/angular.min.js"></script>
  <script src="components/angular-resource/angular-resource.min.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="lib/date.js/build/date-nl-NL.js"></script>
	<script src="js/tv.js"></script>
	<!--<script src="lib/mdns-browser/dns.js"></script>
	<script src="lib/mdns-browser/servicefinder.js"></script>
	<script src="js/tv.js"></script>
	<script src="js/tv.tools.js"></script>
	<script src="js/tv.update.js"></script>
	<script src="js/tv.controls.js"></script>
	<script src="js/tv.today.js"></script>
	<script src="js/tv.remote.js"></script>-->
	<script src="js/tv.tools.js"></script>
	<script src="js/tv.controls.js"></script>
	<script src="js/tv.stream.js"></script>
</head>
<body ng-controller="StreamController">
	<div class="tools-wrapper"><div class="tools"><ul>
		<li data-action="close" class="icon-power"><a href="#close">Close</a></li>
		<li data-action="full" class="icon-full"><a href="#fullscreen">Toggle fullscreen</a></li>
		<li class="spacer"></li>
		<li data-action="up" class="icon-up"><a href="#up">Up</a></li>
		<li data-action="play" class="icon-play"><a href="#play">Play</a></li>
		<li data-action="down" class="icon-down"><a href="#down">Down</a></li>
		<li class="spacer"></li>
		<li class="spacer"></li>
		<li class="spacer"></li>
		<li class="spacer"></li>
		<li data-action="connect" class="icon-connect"><a href="#connect">Connect</a></li>
	</ul></div></div>
	
	<div class="bar" id="bar">
		<div class="scroll">
			<div class="logo"></div>
			<ul class="activities">
				<li ng-repeat="node in nodes | orderBy:'sort_date' | limitToRelevant" data-id="{{node.nid}}">
					<span class="title">{{node.title}}</span>
					<span class="date">{{node.date}}</span>
				</li>
			</ul>
			<h2>CH calender op je telefoon?</h2>
			<div class="qr"><img src="images/clear_1x1.png" style="width:100%;" /></div>
		</div>
	</div>
	
	<div class="content" id="content">
		<div class="scroll">
			<ul>
				<li ng-repeat="node in nodes | orderBy:'sort_date' | limitToRelevant" id="{{node.nid}}" class="item item-{{node.type}} {{node.type}}">
					<div class="whereabouts">
						<span class="title">{{node.title}}</span>
						<span class="date">{{node.date}}</span>
						<span class="location">{{node.location}}</span>
						<span class="costs">{{node.costs}}</span>
					</div>
					<div class="body">
						<div class="content">
							<div class="pull-right image-wrapper"><img class="image" ng-src="{{node.getImage()}}" /></div>
							<div ng-bind-html-unsafe="node.getHtml()"></div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>